.w-cover{ width: 75%; }
@media only screen and (min-width:786px){
    .w-cover {
        width: 40%;
    }
}
.bg-cover{ 
    background-image: url('../../assets/img/cover.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:0;
}
.bg-black-50 {background-color: rgba(0, 0, 0, 0.5);}
.text-color-primary { color: rgb(227, 176, 75); }
.bg-color-primary { background-color: #F1D6AB;}
.bg-button {background-color: #E3B04B}
