@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
* { 
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
};
body {
    background: white !important;
    color: white;
}
